#contact address {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: min(30rem, calc(100vw - 6rem));
  margin: 0 auto;
  font-style: normal;
}

#contact address a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

#contact address a img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

#contact address a span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 1;
}

@media screen and (max-width: 590px) {
  #contact address a {
    gap: 1rem;
  }

  #contact address a img {
  width: 3rem;
  height: 3rem;
  }
}
