#home {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

#home .content {
  padding: 0 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#home h1,
#home .status {
  font-size: 4rem;
}

#home h1 span {
  white-space: nowrap;
}

#home p {
  max-width: 28rem;
}

@media screen and (max-width: 500px) {
  #home .status {
    font-size: 3rem;
  }
}

@media screen and (max-width: 360px) {
  #home h1 {
    font-size: 3rem;
  }
  #home .status {
    font-size: 2rem;
  }
}
