@font-face {
    font-family: "Bahnschrift";
    src: url("font/bahnschrift.ttf") format("TrueType");
}

:root {
    --home-section-heigt: 100vh;
    --home-section-heigt: 100dvh;
    --bgc: rgba(0, 0, 0, 0.5);
}


/****************** Corp de la page ******************/

body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("https://live.staticflickr.com/65535/53072881464_d0a95851f1_k_d.jpg");
    background-image: url("images/Herbig-Haro 46 47 (NIRCam Image).png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: "Bahnschrift", Bahnschrift, sans-serif;
    display: block;
}


header {
    background-color: var(--bgc);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    top: 0;
    margin-bottom: 2rem;
}

header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 1;
    flex-grow: 1;
}

main section {
    width: 75vw;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a.current {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    text-shadow: 5px 5px 3px black;
}

a * {
    margin: 0;
}


/********************* Header *********************/

header a {
    display: inline-block;
}

header a#logo {
    display: inline-block;
    font-size: 3rem;
    width: 5em;
    text-align: center;
    margin: auto 0;
    /* border-radius: 0; */
}

header li {
    display: inline-block;
}

header li a {
    font-size: 2rem;
    width: 10em;
    text-align: center;
}


/****************** Article ******************/

.bg {
    background-color: var(--bgc);
    border-radius: 20px;
    padding: 2rem;
    backdrop-filter: blur(10px);
}

article > h2 {
    margin-top: 0;
}

p {
    text-align: justify;
}


/****************** index ******************/

h1 {
    font-size: 3rem;
}

#home-section {
    height: var(--home-section-heigt);
}

#banner {
    width: fit-content;
    margin: calc(calc(100vh - 3rem) / 2 - calc(4rem * 4));
}

#banner h1 {
    margin: 0;
}

#firstname, #job {
    font-weight: lighter;
}

.sep {
    height: 2px;
    width: 90%;
    margin: 2rem 5%;
    background-color: white;
}

#banner + .sep {
    position: absolute;
    bottom: 0;
}

#about > article {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 75vw;
    margin: auto;
}

.sub_article {
    display: flex;
    justify-content: space-between;
}

.sub_article div {
    width: 50%;
}


/****************** CV ******************/

body > main {
    width: 75vw;
    margin: auto;
}

#grille_cv {
    display: grid;
}

#gauche {
    grid-column: 1;
    grid-row: 1;
}

#droite {
    grid-column: 2;
    grid-row: 1;
}

#projets a {
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
}

li h4 {
    margin-bottom: 0;
}

li p {
    margin-top: 0;
}


/****************** Footer ******************/

address a:hover {
    border-radius: 2px;
}

#contact {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--bgc);
    backdrop-filter: blur(10px);
    border-top: 2px solid white;
}

#contact h3 {
    margin-top: 0;
}

address * {
    padding: 0.2rem;
}

