@font-face {
    font-family: "Bahnschrift";
    src: url("font/bahnschrift.ttf") format("TrueType");
}


body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "star_rail_font", Bahnschrift, sans-serif;
}


header {
    background-color: #000020;
    display: flex;
    flex-direction: row;
}


a {
    color: wheat;
    text-decoration: none;
}

a:hover {
    color: #000020;
    background-color: wheat;
    border-radius: 10px;
}

header a {
    display: inline-block;
}

header a#logo {
    display: inline-block;
    font-size: 3em;
    width: 5em;
    text-align: center;
}

header li {
    display: inline-block;
}

header li a {
    font-size: 2em;
    width: 10em;
    text-align: center;
}


#grille_cv {
    display: grid;
}

li h4 {
    margin-bottom: 0;
}

li p {
    margin-top: 0;
}