.burger {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
  z-index: 3;
  width: 15rem;
  transition: transform 500ms ease;
  background-color: var(--bg-transparent);
  backdrop-filter: blur(1rem);
}

.burger > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.burger a {
  text-align: center;
}

.burger .select button {
  width: 100%;
  text-align: left;
}

.burger .close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  box-shadow: none;
  padding: 0;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
}

.burger .close-button .icon {
  width: 100%;
  height: 100%;
}
