#projects > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

#projects > ul > li {
  list-style: none;

}

#sort-project-section > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
