#projects > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

#projects > ul > li {
  list-style: none;

}

.filter-and-sort-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.filter-and-sort-container .input-container,
.filter-and-sort-container .filters {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.filter-and-sort-container .filters {
  gap: 2rem;
}
