#projects .project-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

.filter-and-sort-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.filter-and-sort-container .input-container,
.filter-and-sort-container .filters {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter-and-sort-container .filters {
  gap: 2rem;
}

@media screen and (max-width: 1100px) {
  #projects .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(50% - 1rem));
    justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  #projects .project-list {
    grid-template-columns: repeat(auto-fill, min(100%, 25rem));
    justify-content: center;
  }
}
