#about-me > div {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
}

#about-me > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--bg);
  box-shadow: var(--shadow-s);
}

#about-me img {
  width: 20rem;
  border-radius: 50%;
  box-shadow: var(--shadow-s);
}
