.skills-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.skills-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.skills-buttons button {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.skills-buttons button.selected {
  background-color: var(--bg-dark);
}

.skills-box .tools {
  width: 100%;
}

.skills-box .tools ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 7rem);
  justify-content: space-between;
  gap: 2rem;
}

.skills-box .tools img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  transition: transform 250ms ease-out;
}

.skills-box .tools a:hover img {
  transform: scale(1.1);
}

.skills-box .tools li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: inherit;
  text-decoration: none;
}

.skills-box .tool-name {
  white-space: nowrap;
}

.skills-box .tools .loader {
  width: 4rem;
  height: 4rem;
  margin: 2rem;
}

@media screen and (max-width: 830px) {
  .skills-box {
    flex-direction: column;
    justify-content: flex-start;
  }

  .skills-box > li {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .skills-box .tools {
    display: grid;
    grid-template-columns: repeat(auto-fill, 4rem);
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    padding: 0;
  }
}
