* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-muted);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  margin: 0;
}

p,
ul {
  margin: 0;
}

a {
  color: var(--main-color);
}

select {
  cursor: pointer;
  font: inherit;
  background-color: var(--bg-light);
  color: var(--text);
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-s);
  transition: box-shadow 250ms ease-out;
}

select:hover {
  box-shadow: var(--shadow-m);
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 10rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
}
