* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-muted);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  margin: 0;
}

p,
ul {
  margin: 0;
}

a {
  color: var(--main-color);
}

select,
button,
.button {
  cursor: pointer;
  font: inherit;
  background-color: var(--bg);
  color: var(--text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-s);
  transition: box-shadow 250ms ease-out, background-color 250ms ease-out;
  text-decoration: none;
}

select:hover,
button:hover,
.button:hover {
  box-shadow: var(--shadow-m);
  background-color: var(--bg-light);
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 10rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

.card {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--bg);
  box-shadow: var(--shadow-s);
}

svg.icon {
  fill: var(--text-muted);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid var(--main-color);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
