.select {
  position: relative;
}

.select-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.select-menu {
  position: absolute;
  top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--bg-dark);
  box-shadow: var(--shadow-s);
  z-index: 2;
  max-height: 50vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.select-menu.align-left {
  left: 0;
  right: unset;
}

.select-menu.align-right {
  right: 0;
  left: unset;
}

.select-menu button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.5rem;
  white-space: nowrap;
  text-align: left;
}

.select-menu button img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.select .select-menu button svg {
  visibility: hidden;
}

.select .select-menu button.selected svg {
  visibility: visible;
}
