.work-experience {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-experience .line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}