header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

header > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
