header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-transparent);
  backdrop-filter: blur(1rem);
  box-shadow: var(--shadow-s);
}

header > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
