.training {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.training .line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.training a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  gap: 0.5rem;
}
