.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.project.reverse {
  flex-direction: row-reverse;
}

.project img {
  width: 40%;
  border-radius: 1rem;
  box-shadow: var(--shadow-s);
  padding: 2px;
  background-color: var(--bg);
}

.project > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  width: 55%;
}

.project h3 {
  white-space: nowrap;
}

.project .header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1rem;
}

.project .but-skills,
.project .tools {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
  overflow-x: scroll;
  scrollbar-width: none;
}

.project .tools img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  padding: 0;
  box-shadow: none;
  border-radius: 0  ;
}

.project .tools .loader {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
}
  