.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.project.reverse {
  flex-direction: row-reverse;
}

.project > img {
  height: 15rem;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: var(--shadow-s);
  padding: 2px;
  background-color: var(--bg);
}

.project > div {
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  gap: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  width: 55%;
}

.project .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap-reverse;
  gap: 1rem;
}

.project .header > div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
}

.project .but-skills,
.project .tools {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 0 2rem;
  margin: 0 -2rem;
}

.project .tools {
  padding: 0.5rem 2rem 2rem 2rem;
  margin: -0.5rem -2rem -2rem -2rem;
}

.project .tools img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  transition: transform 250ms ease-out;
}

.project .tools a:hover img {
  transform: scale(1.1);
}

.project .tools .loader {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
}

.project .tools a {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  overflow: visible;
}

.project a .popup {
  pointer-events: none;
  position: absolute;
  left: 1rem;
  transform: translate(-50%, -0.5rem);
  color: var(--text);
  background-color: var(--bg-light);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-s);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 250ms ease-out, transform 250ms ease-out;
  z-index: 1;
}

.project a:hover .popup {
  display: block;
  opacity: 1;
  transform: translate(-50%, 0);
}

.project .links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.project .links a {
  display: block;
  position: relative;
}

.repository-link img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  transition: transform 250ms ease-out;
}

.test-link svg {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  fill: var(--confirm-color);
  transition: transform 250ms ease-out;
}

.repository-link:hover img,
.test-link:hover svg {
  transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
  .project,
  .project.reverse {
    flex-direction: column-reverse;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--bg);
    box-shadow: var(--shadow-s);
    gap: 2rem;
  }

  .project > div {
    padding: 0;
    border-radius: unset;
    background-color: unset;
    box-shadow: unset;
    width: 100%;
  }

  .project > img {
    width: calc(100% + 4rem);
    height: unset;
    box-shadow: unset;
    padding: 0;
    margin: -2rem -2rem 0 -2rem;
    border-radius: 1rem 1rem 0 0;
  }

  .project .header > div {
    flex-direction: column;
  }
}
