.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.project.reverse {
  flex-direction: row-reverse;
}

.project > img {
  width: 40%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: var(--shadow-s);
  padding: 2px;
  background-color: var(--bg);
}

.project > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  width: 55%;
}

.project h3 {
  white-space: nowrap;
}

.project .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  gap: 1rem;
}

.project .header > div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.project .but-skills,
.project .tools {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
  overflow-x: scroll;
  scrollbar-width: none;
}

.project .tools {
  padding: 0.5rem 2rem 2rem 2rem;
  margin: -0.5rem -2rem -2rem -2rem;
}

.project .tools img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  transition: transform 250ms ease-out;
}

.project .tools a:hover img {
  transform: scale(1.1);
}

.project .tools .loader {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
}

.project .tools a {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  overflow: visible;
}

.project .tools a .popup {
  pointer-events: none;
  position: absolute;
  left: 1rem;
  transform: translate(-50%, -0.5rem);
  color: var(--text);
  background-color: var(--bg-light);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-s);
  opacity: 0;
  transition: opacity 250ms ease-out, transform 250ms ease-out;
}

.project .tools a:hover .popup {
  display: block;
  opacity: 1;
  transform: translate(-50%, 0);
}
